@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

body {
  font-family:"Oswald" serif;
  background-color: lightgray;
 }

 h2, p, .readme-wrapper {
  text-align: center;
  }
  
  a {
    text-decoration-line: none;
  }

  a:hover {
    color: yellow;
    cursor: pointer;
    font-weight: 900;
  }

  span {
    color:rgb(255, 0, 21);
    font-weight: 600;
  }

  .boxes {
    margin: .5rem;
    padding: .5rem;
    border: .45rem solid burlywood;
    border-radius: 6%;
    width: 30em;
    display: block;
  }

  .images{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: goldenrod;
    position: absolute;
    
  }

  #Box1 {
    background-color: cadetblue;
  }

  #Box2 {
    background-color: rgb(48, 68, 161);
    position: relative;
    margin: 0 0 100 100;
  }

  #Box3 {
    background-color: rgb(29, 167, 59);
  }

  #Box4 {
    background-color: rgb(167, 44, 27);  
  }

  h1 {
    color:blue
  }

.original {
    color: blueviolet;
}

.additional {
  color:coral;
}


#Show1{
  color:rgb(109, 94, 12);
}

#Show2{
  color:silver ;
}

#Show3{
  color:rgb(97, 74, 16);
}

#Show4{
  color:blanchedalmond ;
}

#Show5{
  color:cornflowerblue;
}

ul {
  color:rgb(0, 195, 255)
}

.star {
  color: crimson;
}

#wars {
  color: darkorange;
}

.border {
  border: 2px solid black;
}